<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Hair Salon</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Hair Salon<h1>
            </div><br>

            {% if clients is not empty %}
                <h3>Clients belonging to {{ stylist.getName }}<h3><br>
                {% for client in clients %}
                    <h4>{{ client.getName }}</a><h4>

                    <form action='/clients/{{ client.getId }}/edit' method='get'>
                        <button type='submit' class='btn btn-xs btn-info'>Edit</button>
                    </form>

                    <form action='/clients/{{ client.getId }}/delete' method='post'>
                        <input name='_method' value='delete' hidden>
                        <button type='submit' class='btn btn-xs btn-warning'>Delete</button>
                    </form>
                    <br>
                {% endfor %}
                <br><br>
            {% endif %}

            <h4>Add a client</h4>

            <form action='/stylists/{{ stylist.getId }}/add_client' method='post'>
                <div class='form-group'>
                    <input required type='text' name='name' class='form-control'
                        placeholder='Enter name of new client'>
                </div>

                <button type='submit' class='btn btn-primary'>Submit</button>
            </form><br><br>

            <h4><a href='/'>Home</a></h4><br><br><br><br>

            <footer>Created by <a href="https://github.com/maggie-harrington">Maggie Harrington</a></footer>

        </div>
    </body>
</html>
